main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  background-color: #080808;
  border: 2px solid #080808;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.content {
  padding: clamp(20px, 6vmin, 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #f0f0f0;
}

.content .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content h2 {
  text-align: center;
  font-size: clamp(24px, 4vmin, 48px);
  line-height: 1em;
  margin-bottom: 0.5em;
}

.content p {
  line-height: 1.5em;
  margin-bottom: 1em;
  text-align: center;
  font-size: clamp(16px, 2.5vmin, 48px);
  text-wrap: balance;
}

.content .flag-selection-container {
  display: flex;
  justify-content: center;
}

.content .flag-selection-wrapper {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2em;
}

.content .flag-selection {
  position: relative;
}

.content .flag-selection button {
  background-color: white;
  border: 2px solid #080808;
  border-radius: 0.2em;
  font-size: clamp(36px, 10vmin, 96px);
  padding: 0.25em;
  line-height: 1;
  cursor: pointer;
}

.content .flag-selection.selected {
  z-index: 1;
}

.content .flag-selection.selected.incorrect button {
  border-color: #c90000;
  background-color: #ffd7d7;
  animation: shake 150ms 4 linear;
  position: relative;
  z-index: 1;
}

.content .flag-selection.selected::after {
  pointer-events: none;
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 0;
}

.content .flag-selection.selected.incorrect::after {
  border: 5px solid #c90000;
  background-color: red;
  animation: grow-and-fade 500ms 1 linear;
  animation-fill-mode: forwards;
}

.content .flag-selection.selected.correct::after {
  border: 5px solid #00c90a;
  background-color: #00ff0d;
  animation: grow-and-fade 500ms 1 linear;
  animation-fill-mode: forwards;
}

.content .flag-selection.selected.correct button {
  border-color: #00c90a;
  background-color: #cfffd1;
  animation: pop 500ms 1 linear;
}

@keyframes shake {
  0% {
    transform: translate(5px, 0) rotate(2.5deg);
  }

  50% {
    transform: translate(-5px, 0) rotate(-2.5deg);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes pop {
  0% {
    transform: scale(105%);
  }

  50% {
    transform: scale(95%);
  }

  100% {
    transform: scale(100%);
  }
}

@keyframes grow-and-fade {
  0% {
    transform: scale(100%);
    opacity: 0.25;
  }

  100% {
    transform: scale(300%);
    opacity: 0;
  }
}

.settings-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border: 2px solid #080808;
  border-radius: 0.2em;
  font-size: clamp(16px, 4vmin, 48px);
  padding: 0.25em;
  line-height: 1;
  cursor: pointer;
  z-index: 4;
}

.settings {
  position: absolute;
  inset: 0;
  background-color: #f0f0f0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.settings h2 {
  text-align: center;
  font-size: clamp(24px, 4vmin, 48px);
  line-height: 1em;
  margin-bottom: 0.5em;
}

.settings ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
}

.settings button {
  font-size: clamp(16px, 2vmin, 32px);
  width: 100%;
  padding: 0.5em;
  text-align: left;
}
