@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  color: #080808;
  background-color: #f0f0f0;
  font-size: 16px;
  overflow: hidden;
  user-select: none;
}

#root {
  display: flex;
  border: 2px solid #080808;
}
